DATABASE_SYNC_URL=postgresql+psycopg2://moc_user:moc_password@localhost:5432/moc_db_name
DATABASE_ASYNC_URL=postgresql+asyncpg://moc_user:moc_password@localhost:5432/moc_db_name

MONTH_SUM_LIMIT_PER_USER=200000
JWT_SECRET_KEY=HUe84pRU7KTnOpj_Ui6vu873QqtyFNjwh-SOptxggOqZYiSysInFyzdNfsZV4_4Y
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=10080
JWT_REFRESH_TOKEN_EXPIRE_MINUTES=43200
BASE_SITE_LINK=https://gladeal.ru

EXPIRE_TIME_TO_COMNFIRM_MINUTES=4320

PROSTO_SMS_BASE_URL=http://api.sms-prosto.ru
PROSTO_SMS_API_KEY=change_me
SMS_CALLS_REDIS_URL=redis://localhost:6379/0
SMS_CALLS_CODE_TTL_SECONDS=300
SMS_CALLS_SEND_ATTEMPTS_LIMIT=3
SMS_CALLS_SEND_LIMIT_PAUSE_MINUTES=15
SMS_CALLS_VERIFY_ATTEMPTS_LIMIT=5
