DATABASE_SYNC_URL=postgresql+psycopg2://moc_user:moc_password@localhost:5432/moc_db_name
DATABASE_ASYNC_URL=postgresql+asyncpg://moc_user:moc_password@localhost:5432/moc_db_name
JWT_SECRET_KEY=
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
