DATABASE_SYNC_URL=postgresql+psycopg2://moc_user:moc_password@localhost:5432/moc_db_name
DATABASE_ASYNC_URL=postgresql+asyncpg://moc_user:moc_password@localhost:5432/moc_db_name

MONTH_SUM_LIMIT_PER_USER=200000
JWT_SECRET_KEY=HUe84pRU7KTnOpj_Ui6vu873QqtyFNjwh-SOptxggOqZYiSysInFyzdNfsZV4_4Y
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=10080
JWT_REFRESH_TOKEN_EXPIRE_MINUTES=43200
BASE_SITE_LINK=https://gladeal.ru

EXPIRE_TIME_TO_COMNFIRM_MINUTES=4320
